.inputsApplicationForm {
    display: flex;

    input {
        background: #F1F0F0;
        width: auto;
        height: auto;
        border: 2px;
        border-radius: 10px;
        align-items: center;
        margin: 5px;
        padding: 18px 100px;
        display: flex;
    }
}