// @import "../../styles/globals.css";
//como criar outras classes className={`${styles.inputGroup} ${styles.outro}`}

.createPost {
  .row {
    margin-top: 30px;

    .subtitle {
      margin-top: 10px;
    }

    .inputGroup {
      // width: 100%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        height: 40px;
        background-color: #DCDCDC;
        border-style: none;
        border-radius: var(--border-radius);
        padding: 5px;
      }

      .fileUpload{
        align-items: center;
      }

      label {
        margin-bottom: 4px;
      }

      .createBtn {
        background-color: var(--primary);
        border-radius: var(--border-radius);
        border-style: none;
        height: 45px;
        color: white;
        font-weight: 600;
      }

      textarea{
        height: 150px;
        background-color: #DCDCDC;
        border-radius: var(--border-radius);
        padding: 5px;
        border-style: none;

      }

      .postTitleCounter{
        display: flex;
        justify-content: space-between;
      }

      h5{
        font-weight: 200;
      }
    }
  }
}
