.navigation {
  width: 100%;
  position: fixed;
  height: 70px;
  background-color: var(--background-secundary);
  top: calc(100vh - 70px);
  // top: 20px;

  .grid {
    height: 100%;

    .row {
      height: 100%;
      // width: 100%;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        padding: 8px;
      }

      .text {
        font-size: 8px;
      }
    }
  }
}
