.container {
  height: 100%;
  padding: 20px;
  position: relative;
  text-align: center;

  .text {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: 10px;
    left: 0;

    button {
      border: none;
      border-radius: 10px;
      padding: 8px 16px;
      // color: var(--warning);
      cursor: pointer;
    }

    .submit {
      background-color: var(--warning);
      color: white;
    }

    .cancel {
      border: 3px solid #9A9A9A;
      color: #9A9A9A;
      background: none;

    }
  }
}